
{{> nav}}


<style>
.format{
    background-color:rgb(250, 224, 153);
    padding: 70px;
   
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
    
}

hr{
    border-color: blue;
}
</style>


<div class="format">
<h1>Pet customers information</h1>
 <a href="/petcustomers">Pet-Customers</a> 
 

{{#each items}}

<div>
    First Name:{{ firstName }}</div>
    
<div>
    Last Name :{{ lastName }}</div>

<div>
    E-mail:{{ email }}</div>
<div>
    petName:{{ petName }}</div>
<div>
    breed:{{ breed }}</div>
<div>
    description:{{ description }}</div>
<div>
    Latitude:{{ lat }}</div>
<div>
    Longitude:{{ lng }}</div>
<div>
    picture:{{ this.imageURL }}</div>
    <hr>

{{/each}}
</div>


